{
  "openapi": "3.1.0",
  "info": {
    "title": "Bily API",
    "version": "1.0.0",
    "description": "The stable customer API for Bily identity, stores, analytics, commerce, capabilities, and explicitly authorized actions.",
    "contact": {
      "name": "Bily support",
      "email": "support@bily.ai"
    }
  },
  "servers": [
    {
      "url": "https://app.bily.ai/api/customer/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Identity",
      "description": "Discover the identity and organizations attached to a key."
    },
    {
      "name": "Stores",
      "description": "Discover stores within an organization."
    },
    {
      "name": "Store data",
      "description": "Read store profiles, readiness, catalogs, and connected accounts."
    },
    {
      "name": "Commerce",
      "description": "Run scoped commerce reads and explicitly approved GraphQL mutations."
    },
    {
      "name": "Analytics",
      "description": "Read normalized advertising, attribution, product, customer, and cohort metrics."
    },
    {
      "name": "Analytics SQL",
      "description": "Run constrained read-only SQL over store-scoped Bily datasets."
    },
    {
      "name": "Customer journeys",
      "description": "Read customer touchpoints within an authenticated store scope."
    },
    {
      "name": "Capabilities",
      "description": "Inspect available connections, support, and advertising assets."
    },
    {
      "name": "Capability actions",
      "description": "Synchronize connections and update supported advertising assets."
    },
    {
      "name": "Campaign actions",
      "description": "Create or clone supported advertising campaign resources."
    },
    {
      "name": "Tracking connections",
      "description": "List and manage store-scoped tracking connections without returning credential secrets."
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "tags": [
          "Identity"
        ],
        "summary": "Get the authenticated identity",
        "description": "Returns the user attached to the API key and the active organization ID when a session supplies one.",
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "tags": [
          "Identity"
        ],
        "summary": "List organizations",
        "description": "Lists every Bily organization available to the authenticated identity.",
        "operationId": "listOrganizations",
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/stores": {
      "get": {
        "tags": [
          "Stores"
        ],
        "summary": "List stores",
        "description": "Lists stores in the selected organization.",
        "operationId": "listStores",
        "parameters": [
          {
            "name": "x-bily-organization-id",
            "in": "header",
            "required": true,
            "description": "An organization ID returned by GET /organizations. Required for GET /stores and optional for store-scoped paths.",
            "schema": {
              "type": "string",
              "example": "org_01J8W7T9G3E6ZQ4M2K5N8P1R0S"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoresResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/store-data/{storeUrl}": {
      "get": {
        "tags": [
          "Store data"
        ],
        "summary": "Get a store profile",
        "description": "Returns the current Bily profile and setup data for an accessible store.",
        "operationId": "getStoreProfile",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreProfile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/store-data/{storeUrl}/catalogs": {
      "get": {
        "tags": [
          "Store data"
        ],
        "summary": "List catalog connections",
        "description": "Returns catalog synchronization connections configured for the store.",
        "operationId": "listStoreCatalogs",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/store-data/{storeUrl}/meta-quality": {
      "get": {
        "tags": [
          "Store data"
        ],
        "summary": "Get Meta signal quality",
        "description": "Returns the latest store-scoped event match summary and diagnostic breakdown.",
        "operationId": "getMetaQuality",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "summary",
                    "breakdown"
                  ],
                  "properties": {
                    "summary": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "breakdown": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/store-data/{storeUrl}/pinterest-quality": {
      "get": {
        "tags": [
          "Store data"
        ],
        "summary": "Get Pinterest signal quality",
        "description": "Returns the latest store-scoped conversion quality diagnostics.",
        "operationId": "getPinterestQuality",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/store-data/{storeUrl}/data-readiness": {
      "get": {
        "tags": [
          "Store data"
        ],
        "summary": "Get data readiness",
        "description": "Returns connection and account-selection readiness for the store's supported capabilities.",
        "operationId": "getDataReadiness",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/store-data/{storeUrl}/shopify/graphql": {
      "post": {
        "tags": [
          "Commerce"
        ],
        "summary": "Run a Shopify GraphQL operation",
        "description": "Runs a store-scoped Shopify Admin GraphQL query. Queries are enabled by default. Mutations require allowMutation=true and should receive an explicit user approval before the request.",
        "operationId": "runShopifyGraphql",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphqlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphqlResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/store-data/{storeUrl}/shopify/rest": {
      "post": {
        "tags": [
          "Commerce"
        ],
        "summary": "Read a Shopify REST resource",
        "description": "Runs a store-scoped, read-only Shopify Admin REST request. Prefer GraphQL for new workflows.",
        "operationId": "readShopifyRest",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestReadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestReadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/managed-ad-accounts/{storeUrl}": {
      "get": {
        "tags": [
          "Store data"
        ],
        "summary": "List managed ad accounts",
        "description": "Returns the connected advertising accounts visible to the authenticated identity for the store.",
        "operationId": "listManagedAdAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/customer-journey/{storeUrl}": {
      "post": {
        "tags": [
          "Customer journeys"
        ],
        "summary": "Get a customer journey",
        "description": "Returns one customer's ordered touchpoints for a date range. Treat the result as journey evidence; do not infer purchase or revenue facts unless the response explicitly includes them.",
        "operationId": "getCustomerJourney",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerJourneyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The ordered customer journey report.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerJourneyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/ad-metrics/overview/{storeUrl}": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get advertising overview",
        "description": "Returns current and previous period spend, revenue, conversions, AOV, MER, currency, and data reliability.",
        "operationId": "getAdOverview",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverviewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ad-metrics/{storeUrl}/enrich": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Enrich advertising asset IDs",
        "description": "Resolves supplied campaign, ad set, and ad IDs to names and statuses within one store and channel.",
        "operationId": "enrichAdAssets",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrichRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "assets"
                  ],
                  "properties": {
                    "assets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EnrichedAsset"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ad-metrics/{storeUrl}": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Query advertising metrics",
        "description": "Returns normalized advertising and attribution rows for the selected store and date range.",
        "operationId": "getAdMetrics",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "First date to include, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Last date to include, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Normalized channel or cross-channel.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "cross-channel"
            }
          },
          {
            "name": "model",
            "in": "query",
            "description": "Attribution model.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "last_click"
            }
          },
          {
            "name": "window",
            "in": "query",
            "description": "Attribution window.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "lifetime"
            }
          },
          {
            "name": "granularity",
            "in": "query",
            "description": "Time grain.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "hour"
              ],
              "default": "day"
            }
          },
          {
            "name": "filterCountry",
            "in": "query",
            "description": "Comma-separated country codes.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterDeviceType",
            "in": "query",
            "description": "Comma-separated device types.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterOS",
            "in": "query",
            "description": "Comma-separated operating systems.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterBrowser",
            "in": "query",
            "description": "Comma-separated browser names.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterProductId",
            "in": "query",
            "description": "Comma-separated product IDs.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dimension_source",
            "in": "query",
            "description": "Dimension attribution context.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "conversion",
                "first_touch"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdMetric"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          }
        }
      }
    },
    "/ad-metrics/{storeUrl}/daily-series": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get a prepared daily series",
        "description": "Returns a daily, store-currency metric series with explicit date coverage and confidence metadata.",
        "operationId": "getPreparedDailySeries",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "First date to include, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Last date to include, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailySeriesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ad-metrics/{storeUrl}/prepared-channel-summary": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get a prepared channel summary",
        "description": "Returns decision-ready channel rows and canonical totals for a date range. A 409 response means the requested range does not have complete prepared coverage.",
        "operationId": "getPreparedChannelSummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "First date to include, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Last date to include, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreparedChannelSummaryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ad-metrics/{storeUrl}/prepared-asset-performance": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get prepared asset performance",
        "description": "Returns decision-ready performance rows at campaign, ad set, or ad level. A 409 response means the requested range does not have complete prepared coverage.",
        "operationId": "getPreparedAssetPerformance",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "First date to include, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Last date to include, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "hierarchyLevel",
            "in": "query",
            "description": "Advertising hierarchy level.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "campaign",
                "adset",
                "ad"
              ],
              "default": "campaign"
            }
          },
          {
            "name": "ad_accounts",
            "in": "query",
            "description": "Optional comma-separated advertising account IDs from the store's accessible account set.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreparedAssetPerformanceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ad-metrics/{storeUrl}/products": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get product metrics",
        "description": "Returns attributed orders, units, revenue, and product context for the selected date range.",
        "operationId": "getProductMetrics",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "First date to include, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Last date to include, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Optional normalized channel, such as facebook or google.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "adId",
            "in": "query",
            "description": "Filter to one ad ID.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterCountry",
            "in": "query",
            "description": "Comma-separated country codes.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterDeviceType",
            "in": "query",
            "description": "Comma-separated device types.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterOS",
            "in": "query",
            "description": "Comma-separated operating systems.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterBrowser",
            "in": "query",
            "description": "Comma-separated browser names.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterProductId",
            "in": "query",
            "description": "Comma-separated product IDs.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dimension_source",
            "in": "query",
            "description": "Dimension attribution context.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "conversion",
                "first_touch"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductMetric"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ad-metrics/{storeUrl}/product-metadata": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get product metadata",
        "description": "Returns titles and image URLs for up to 200 comma-separated product IDs.",
        "operationId": "getProductMetadata",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "name": "productIds",
            "in": "query",
            "description": "Comma-separated product IDs. At most 200 IDs are processed.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductMetadata"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ad-metrics/{storeUrl}/countries": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get country metrics",
        "description": "Returns attributed performance grouped by country and region.",
        "operationId": "getCountryMetrics",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "First date to include, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Last date to include, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Optional normalized channel, such as facebook or google.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "adId",
            "in": "query",
            "description": "Filter to one ad ID.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterCountry",
            "in": "query",
            "description": "Comma-separated country codes.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterDeviceType",
            "in": "query",
            "description": "Comma-separated device types.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterOS",
            "in": "query",
            "description": "Comma-separated operating systems.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterBrowser",
            "in": "query",
            "description": "Comma-separated browser names.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterProductId",
            "in": "query",
            "description": "Comma-separated product IDs.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dimension_source",
            "in": "query",
            "description": "Dimension attribution context.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "conversion",
                "first_touch"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryMetric"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ad-metrics/{storeUrl}/devices": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get device metrics",
        "description": "Returns attributed performance grouped by device, with optional operating system and browser detail.",
        "operationId": "getDeviceMetrics",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "First date to include, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Last date to include, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Optional normalized channel, such as facebook or google.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "adId",
            "in": "query",
            "description": "Filter to one ad ID.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterCountry",
            "in": "query",
            "description": "Comma-separated country codes.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterDeviceType",
            "in": "query",
            "description": "Comma-separated device types.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterOS",
            "in": "query",
            "description": "Comma-separated operating systems.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterBrowser",
            "in": "query",
            "description": "Comma-separated browser names.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterProductId",
            "in": "query",
            "description": "Comma-separated product IDs.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dimension_source",
            "in": "query",
            "description": "Dimension attribution context.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "conversion",
                "first_touch"
              ]
            }
          },
          {
            "name": "includeOS",
            "in": "query",
            "description": "Include operating system detail.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeBrowser",
            "in": "query",
            "description": "Include browser detail.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviceMetric"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ad-metrics/{storeUrl}/dimensions": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "List available dimension values",
        "description": "Returns countries, device types, operating systems, browsers, and product IDs available for filters.",
        "operationId": "getAdMetricDimensions",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "First date to include, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Last date to include, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Optional normalized channel.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "adId",
            "in": "query",
            "description": "Optional ad ID.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dimension_source",
            "in": "query",
            "description": "Dimension attribution context.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "conversion",
                "first_touch"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DimensionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ad-metrics/{storeUrl}/query/catalog": {
      "get": {
        "tags": [
          "Analytics SQL"
        ],
        "summary": "List analytics datasets",
        "description": "Lists the store-scoped datasets, required filters, available columns, and example SQL accepted by the query endpoint.",
        "operationId": "listAnalyticsDatasets",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsCatalogResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ad-metrics/{storeUrl}/query": {
      "post": {
        "tags": [
          "Analytics SQL"
        ],
        "summary": "Run a scoped analytics query",
        "description": "Runs one read-only SQL query against a selected Bily dataset. Bily applies the authenticated store scope before the SQL runs.",
        "operationId": "runAnalyticsQuery",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyticsQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsQueryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ad-metrics/{storeUrl}/customer-ltv": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get customer lifetime value",
        "description": "Returns store-scoped customer lifetime value, order cadence, attribution, and recency rows.",
        "operationId": "getCustomerLtv",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Optional first date to include, in YYYY-MM-DD format.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Optional last date to include, in YYYY-MM-DD format.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum input rows to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200,
              "minimum": 1,
              "maximum": 100000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerLtv"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/ad-metrics/{storeUrl}/customer-ltv-summary": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get a customer lifetime value summary",
        "description": "Returns zero or one store-scoped summary row with customer, order, revenue, refund, value-window, and purchase-cadence totals.",
        "operationId": "getCustomerLtvSummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Optional first date to include, in YYYY-MM-DD format.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Optional last date to include, in YYYY-MM-DD format.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerLtvSummary"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/ad-metrics/{storeUrl}/cohorts": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get cohort metrics",
        "description": "Returns monthly retention and cumulative revenue metrics for customer cohorts.",
        "operationId": "getCohortMetrics",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "First date to include, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Last date to include, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CohortMetric"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/platform/{storeUrl}/support": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "summary": "Get platform support",
        "description": "Returns connected accounts and the exact read and write capabilities available for the store.",
        "operationId": "getPlatformSupport",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformSupportResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/platform/{storeUrl}/assets": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "summary": "List advertising assets",
        "description": "Lists normalized campaigns, ad sets, and ads for enabled accounts in the store.",
        "operationId": "listPlatformAssets",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "name": "platform",
            "in": "query",
            "description": "Filter by platform ID.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetType",
            "in": "query",
            "description": "Filter by asset type.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "campaign",
                "adset",
                "ad"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Case-insensitive search across name, asset ID, and account ID.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum results.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "assets"
                  ],
                  "properties": {
                    "assets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NormalizedAsset"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/platform/{storeUrl}/actions/sync-ad-accounts": {
      "post": {
        "tags": [
          "Capability actions"
        ],
        "summary": "Synchronize advertising accounts",
        "description": "Refreshes enabled advertising connections and their account metadata. Omit platforms to synchronize all enabled connections.",
        "operationId": "syncAdAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/platform/{storeUrl}/actions/update-asset": {
      "post": {
        "tags": [
          "Capability actions"
        ],
        "summary": "Update an advertising asset",
        "description": "Updates supported name, status, or budget fields. Read platform support and the asset's supportedWrites before submitting a change.",
        "operationId": "updatePlatformAsset",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/platform/{storeUrl}/actions/create-google-campaign": {
      "post": {
        "tags": [
          "Campaign actions"
        ],
        "summary": "Create a Google campaign",
        "description": "Creates a campaign for a connected Google Ads account. The payload uses the account's supported campaign contract.",
        "operationId": "createGoogleCampaign",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignRequestEnvelope"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/platform/{storeUrl}/actions/create-tiktok-campaign": {
      "post": {
        "tags": [
          "Campaign actions"
        ],
        "summary": "Create a TikTok campaign",
        "description": "Creates a campaign for a connected TikTok account. New campaigns default to paused unless ACTIVE is explicit.",
        "operationId": "createTikTokCampaign",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TikTokCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/platform/{storeUrl}/actions/clone-tiktok-campaign": {
      "post": {
        "tags": [
          "Campaign actions"
        ],
        "summary": "Clone a TikTok campaign",
        "description": "Clones a campaign in a connected TikTok account. The clone defaults to paused unless ACTIVE is explicit.",
        "operationId": "cloneTikTokCampaign",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloneCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/platform/{storeUrl}/actions/create-pinterest-campaign": {
      "post": {
        "tags": [
          "Campaign actions"
        ],
        "summary": "Create a Pinterest campaign",
        "description": "Creates a campaign for a connected Pinterest account. New campaigns default to paused unless ACTIVE is explicit.",
        "operationId": "createPinterestCampaign",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PinterestCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/platform/{storeUrl}/actions/clone-pinterest-campaign": {
      "post": {
        "tags": [
          "Campaign actions"
        ],
        "summary": "Clone a Pinterest campaign",
        "description": "Clones a campaign in a connected Pinterest account. The clone defaults to paused unless ACTIVE is explicit.",
        "operationId": "clonePinterestCampaign",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloneCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/platform/{storeUrl}/actions/create-snapchat-campaign": {
      "post": {
        "tags": [
          "Campaign actions"
        ],
        "summary": "Create a Snapchat campaign",
        "description": "Creates a campaign for a connected Snapchat account. New campaigns default to paused unless ACTIVE is explicit.",
        "operationId": "createSnapchatCampaign",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SnapchatCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/platform/{storeUrl}/actions/clone-snapchat-campaign": {
      "post": {
        "tags": [
          "Campaign actions"
        ],
        "summary": "Clone a Snapchat campaign",
        "description": "Clones a campaign in a connected Snapchat account. The clone defaults to paused unless ACTIVE is explicit.",
        "operationId": "cloneSnapchatCampaign",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloneCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/platform/{storeUrl}/actions/create-meta-campaign": {
      "post": {
        "tags": [
          "Campaign actions"
        ],
        "summary": "Create a Meta campaign",
        "description": "Creates a campaign for a connected Meta account. New campaigns default to paused unless ACTIVE is explicit.",
        "operationId": "createMetaCampaign",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetaCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/platform/{storeUrl}/actions/clone-meta-adset": {
      "post": {
        "tags": [
          "Campaign actions"
        ],
        "summary": "Clone a Meta ad set",
        "description": "Clones an ad set into the same or another campaign. The clone defaults to paused unless ACTIVE is explicit.",
        "operationId": "cloneMetaAdset",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloneMetaAdsetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/platform/{storeUrl}/actions/clone-meta-ad": {
      "post": {
        "tags": [
          "Campaign actions"
        ],
        "summary": "Clone a Meta ad",
        "description": "Clones an ad and its creative reference into a target ad set. The clone defaults to paused unless ACTIVE is explicit.",
        "operationId": "cloneMetaAd",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloneMetaAdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/platform/{storeUrl}/actions/create-linkedin-campaign": {
      "post": {
        "tags": [
          "Campaign actions"
        ],
        "summary": "Create a LinkedIn campaign group",
        "description": "Creates a campaign group for a connected LinkedIn account. New groups use a safe non-active status unless ACTIVE is explicit.",
        "operationId": "createLinkedInCampaign",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedInCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/platform/{storeUrl}/actions/clone-linkedin-campaign": {
      "post": {
        "tags": [
          "Campaign actions"
        ],
        "summary": "Clone a LinkedIn campaign group",
        "description": "Clones a campaign group in a connected LinkedIn account. The clone uses a safe non-active status unless ACTIVE is explicit.",
        "operationId": "cloneLinkedInCampaign",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloneLinkedInCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
            "headers": {
              "x-request-id": {
                "description": "The request identifier selected or generated by Bily.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/platform/{storeUrl}/actions/clone-microsoft-campaign": {
      "post": {
        "tags": [
          "Campaign actions"
        ],
        "summary": "Clone a Microsoft campaign",
        "description": "Clones a campaign in a connected Microsoft Ads account. The clone defaults to paused unless ACTIVE is explicit.",
        "operationId": "cloneMicrosoftCampaign",
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreUrl"
          },
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloneCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully.",
[...]
